.idea/
out/
target/
project/target
docs/generated
docs-target/
*.bsp
*.properties
*.v
*.anno.json
*.swp
*~
/examples
*.vcd
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
*#
.#*
/mill.bat
/gen/
/mill
/changbai
changbaiChangbai.lst
__pycache__
sim_build/
.vscode/