[submodule "spinal/VexRiscv"]
	path = spinal/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "chisel/rocket-chip"]
	path = chisel/rocket-chip
	url = git@github.com:davine47/rocket-chip.git
